html {
    height: 100%;
}

body {
    /* Градиент */
    background: #e8d5ff;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto 15px;
}

.radio-box {
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;
}

input {
    border-radius: 5px;
    margin-bottom: 5px;
    height: 20px;
}

button {
    border-radius: 5px;
    margin-bottom: 5px;
    height: 25px;
    background-color: #8c2bc4;
    color: white;
    border-color: white;
}